<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-config.dtd">
<configuration>
    <!--别名-->
    <typeAliases>
        <package name="cn.jsnu.css.pojo"/>
    </typeAliases>
    <mappers>
        <mapper resource="cn/jsnu/css/dao/mapperXml/UserMapper.xml"/>
        <mapper resource="cn/jsnu/css/dao/mapperXml/GoodMapper.xml"/>
        <mapper resource="cn/jsnu/css/dao/mapperXml/CategoryMapper.xml"/>
        <mapper resource="cn/jsnu/css/dao/mapperXml/OrderMapper.xml"/>
    </mappers>

</configuration>