<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="cn.jsnu.css.dao.GoodMapper">
    <!--参数集映射-->
    <parameterMap id="GoodsParameterMap" type="cn.jsnu.css.pojo.Goods">
        <parameter property="goodsId" resultMap="GoodsResultMap"/>
        <parameter property="goodsName" resultMap="GoodsResultMap"/>
        <parameter property="goodsSummary" resultMap="GoodsResultMap"/>
        <parameter property="goodsPrice" resultMap="GoodsResultMap"/>
        <parameter property="goodsSalesPrice" resultMap="GoodsResultMap"/>
        <parameter property="goodsCate" resultMap="GoodsResultMap"/>
        <parameter property="goodsRemain" resultMap="GoodsResultMap"/>
        <parameter property="goodsImage" resultMap="GoodsResultMap"/>
        <parameter property="goodsSales" resultMap="GoodsResultMap"/>
        <parameter property="goodsCreateTime" resultMap="GoodsResultMap"/>
    </parameterMap>
    <!--结果集映射-->
    <resultMap id="GoodsResultMap" type="cn.jsnu.css.pojo.Goods">
        <id column="goods_id" property="goodsId"/>
        <id column="goods_name" property="goodsName"/>
        <id column="goods_summary" property="goodsSummary"/>
        <id column="goods_price" property="goodsPrice"/>
        <id column="goods_sales_price" property="goodsSalesPrice"/>
        <id column="goods_cate" property="goodsCate"/>
        <id column="goods_remain" property="goodsRemain"/>
        <id column="goods_image" property="goodsImage"/>
        <id column="goods_sales" property="goodsSales"/>
        <id column="goods_create_time" property="goodsCreateTime"/>
        <id column="quantity" property="quantity"/>
    </resultMap>
    <!--新增商品-->
    <insert id="addUser" parameterMap="GoodsParameterMap">
        insert into eps_goods (goods_id,goods_name,goods_summary,goods_cate,goods_price,goods_sales_price,goods_remain,goods_image,goods_sales,goods_create_time)
        values (#{goodsId},#{goodsName},#{goodsSummary},#{goodsCate},#{goodsPrice},#{goodsSalesPrice},#{goodsRemain},#{goodsImage},#{goodsSales},#{goodsCreateTime});
    </insert>
    <!--通过商品ID获取商品-->
    <select id="findGoodsById" parameterType="string" resultMap="GoodsResultMap">
        select * from eps_goods where goods_id=#{goodsId};
    </select>
    <!--根据商品ID删除商品-->
    <delete id="deleteGoodsById" parameterType="string">
        delete * from eps_goods where goods_id=#{goodsId};
    </delete>
    <!--更新商品信息-->
    <update id="updateGoods" parameterMap="GoodsParameterMap">
        update eps_goods set goods_name=#{goodsName},goods_summary=#{goodsSummary},goods_cate=#{goodsCate},
                    goods_price=#{goodsPrice},goods_sales_price=#{goodsSalesPrice},goods_remain=#{goodsRemain},
                    goods_image=#{goodsImage},goods_sales=#{goodsSales},goods_create_time=#{goodsCreateTime} where goods_id=#{goodsId};
    </update>
    <!--更新商品定价-->
    <update id="updateGoodsPrice" parameterMap="GoodsParameterMap">
        update eps_goods set goods_price=#{goodsPrice} where goods_id=#{goodsId};
    </update>
    <!--更新商品售价-->
    <update id="updateGoodsSalesPrice" parameterMap="GoodsParameterMap">
        update eps_goods set goods_sales_price=#{goodsSalesPrice} where goods_id=#{goodsId};
    </update>
    <!--更新商品剩余数量-->
    <update id="updateGoodsRemain" parameterMap="GoodsParameterMap">
        update eps_goods set goods_remain=#{goodsRemain} where goods_id=#{goodsId};
    </update>
    <!--更新商品图片链接-->
    <update id="updateGoodsImage" parameterMap="GoodsParameterMap">
        update eps_goods set goods_image=#{goodsImage} where goods_id=#{goodsId};
    </update>
    <!--查找所有商品信息-->
    <select id="findAllGoods" resultMap="GoodsResultMap">
        select * from eps_goods;
    </select>
    <!--根据商品分类查找商品-->
    <select id="findGoodsByCategory" parameterType="string" resultMap="GoodsResultMap">
        select * from eps_goods where goods_cate=#{goodsCate};
    </select>
    <!--根据商品名查找商品-->
    <select id="findGoodsByName" parameterType="string" resultMap="GoodsResultMap">
        select * from eps_goods where goods_name like #{goodsName};
    </select>
</mapper>