<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="cn.jsnu.css.dao.ShopCartMapper">

    <!--参数集映射-->
    <parameterMap id="ShopCartParameterMap" type="cn.jsnu.css.pojo.ShopCart">
        <parameter property="userId" resultMap="ShopCartResultMap"/>
        <parameter property="goodsId" resultMap="ShopCartResultMap"/>
        <parameter property="quantity" resultMap="ShopCartResultMap"/>
    </parameterMap>
    <!--结果集映射-->
    <resultMap id="ShopCartResultMap" type="cn.jsnu.css.pojo.ShopCart">
        <id column="user_id" property="userId"/>
        <id column="quantity" property="quantity"/>
        <id column="goods_Id" property="goodsId"/>
    </resultMap>
    <!--结果集映射-->
    <resultMap id="GoodsResultMap" type="cn.jsnu.css.pojo.Goods">
        <id column="goods_id" property="goodsId"/>
        <id column="goods_name" property="goodsName"/>
        <id column="goods_summary" property="goodsSummary"/>
        <id column="goods_price" property="goodsPrice"/>
        <id column="goods_sales_price" property="goodsSalesPrice"/>
        <id column="goods_cate" property="goodsCate"/>
        <id column="goods_remain" property="goodsRemain"/>
        <id column="goods_image" property="goodsImage"/>
        <id column="goods_sales" property="goodsSales"/>
        <id column="goods_create_time" property="goodsCreateTime"/>
        <id column="quantity" property="quantity"/>
    </resultMap>
    <!--新增一个购物车-->
    <insert id="addShopCart" parameterMap="ShopCartParameterMap">
        insert into eps_shop_cart (user_id,goods_id,quantity) values (#{userId},#{goodsId},#{quantity});
    </insert>
    <!--通过用户ID和商品ID获取记录-->
    <select id="findShopCartByUserIdAndGoodsId" parameterType="map" resultMap="ShopCartResultMap">
        select * from eps_shop_cart where user_id=#{userId} and goods_id=#{goodsId};
    </select>
    <!--通过物品ID和商品ID删除记录-->
    <delete id="deleteByUserIdAndGoodsId" parameterType="map">
        delete from eps_shop_cart where user_id=#{userId} and goods_id=#{goodsId};
    </delete>
    <!--通过用户ID查询购物车记录-->
    <select id="findShopCartByUserId" parameterType="string" resultMap="GoodsResultMap">
        select user_id, a.goods_id, a.quantity, goods_name, goods_sales_price, goods_remain, goods_image from eps_shop_cart a, eps_goods b where a.goods_id = b.goods_id and a.user_id = #{userId};
        <!--select distinct a.user_id,a.goods_id,a.quantity,goods_name,goods_summary,goods_cate,goods_price,goods_sales_price,goods_remain,goods_image,goods_sales,goods_create_time
            from eps_shop_cart as a left join eps_goods as b on b.goods_id in (select a.goods_id from eps_shop_cart where a.user_id=#{userId});-->
    </select>
    <!--更新数量-->
    <update id="updateQuantityByUserIdAndGoodsId" parameterMap="ShopCartParameterMap">
        update eps_shop_cart set quantity=#{quantity} where user_id=#{userId} and goods_id=#{goodsId};
    </update>
</mapper>